---
---

@import "{{ site.theme }}";

.page-header {
    padding: 1rem 1rem;
}

.btn-home {
    text-transform: capitalize;
    text-align: left;
    display: block;
    padding: 0.4rem 1rem;
    width: fit-content;
}
